<footer>
    <p class="only-xl">© 2023 CandyShop<br>All rights reserved</p>
    <div class="redes">
        <p>Seguinos en<br>nuestras redes</p>
        <ul>
            <li><a href=""><i class="bi bi-telegram"></i></a></li>
            <li><a href=""><i class="bi bi-whatsapp"></i></a></li>
            <li><a href=""><i class="bi bi-facebook"></i></a></li>
            <li><a href=""><i class="bi bi-tiktok"></i></a></li>
            <li><a href=""><i class="bi bi-instagram"></i></a></li>
        </ul>
    </div>

    <div class="copyright">
        <img src="/img/candyshop.png" alt="Logo de CandyShop" width="200px">
        <p class="not-xl">© 2023 CandyShop<br>All rights reserved</p>
    </div>
</footer>