<header>
    <nav id="navbar" class="sombra-sm">
        <!-- Logo -->
        <div>
            <img src="/img/candyshop-sm.png" alt="Logo de CandyShop" width="66px">
        </div>
        <!-- Opciones -->
        <div class="horizontal">
            <ul id="menu-opciones">
                <li><a href="/">Inicio</a></li>
                <li><a href="/productos">Productos</a></li>
                <li><a href="/nosotros">Nosotros</a></li>
                <li><a href="/login">Iniciar Sesión</a></li>
            </ul>
            <a href="/carrito"><i class="bi bi-cart"></i></a>
            <button type="button" onclick="opencloseMenu()"><i class="bi bi-list"></i></button>
        </div>
    </nav>
</header>