<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>

    <link rel="shortcut icon" href="/img/favicon.png" type="image/png">
    <link rel="stylesheet" href="/css/nosotros.css">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <script src="https://kit.fontawesome.com/34975a55c5.js" crossorigin="anonymous"></script>

    <!-- JS -->
    <script src="/js/menu.js"></script>

</head>

<body onresize="resizeMenu()">
    <!-- Mariana Gomez -->
    <nav id="navbar" class="sombra-sm">
        <!-- Logo -->
        <div>
            <img src="/img/candyshop-sm.png" alt="Logo de CandyShop" width="66px">
        </div>
        <!-- Opciones -->
        <div class="horizontal">
            <ul id="menu-opciones">
                <li><a href="/">Inicio</a></li>
                <li><a href="/productos">Productos</a></li>
                <li><a href="/nosotros">Nosotros</a></li>
                <li><a href="/login">Iniciar Sesión</a></li>
            </ul>
            <a href="/carrito"><i class="bi bi-cart"></i></a>
            <button type="button" onclick="opencloseMenu()"><i class="bi bi-list"></i></button>
        </div>
    </nav>

    <main>
        <div class="banner">
            <div class="texto-banner">
                <div class="texto-banner-ad">
                    Acerca de
                </div>
                <div class="texto-banner-cs">
                    <strong>CandyShop</strong>
                </div>
            </div>
            <div class="line">
                <div class="line1">

                </div>
                <div class="line2">

                </div>
                <div class="line3">

                </div>
            </div>
        </div>
        <section class="contenedor-history">
            <div class="history">
                <div class="texto-history">
                    <h2>Nuestra Historia:</h2>
                    <p id="p1">Todo comenzó con una simple idea:</p>
                    <p>Crear un lugar donde los amantes de
                        las golosinas pudieran encontrar una
                        amplia variedad de delicias, desde los
                        clásicos atemporales hasta las últimas
                        tendencias en el mundo de los dulces.
                    </p>
                </div>
                <div class="imagen-h1">
                    <div class="circle">
                        <img src="/img/mujer-chocolate.png" alt="">
                    </div>
                </div>
            </div>
            <div class="history2">
                <div class="candyShop-text">

                    <p>
                        <a class="CandyShop">CandyShop</a>
                        abrió sus puertas con la
                        misión de convertirse en el destino
                        definitivo para todos los buscadores
                        de dulces.
                    </p>
                </div>

                <div class="imagen-h2">
                    <div class="circle">
                        <img src="/img/mujer-candy.png" alt="">
                    </div>
                </div>
            </div>
        </section>

        <div class="line">
            <div class="line1">

            </div>
            <div class="line2">

            </div>
            <div class="line3">

            </div>
        </div>
        <div class="nuestros-clientes">
            <h2>Nuestros Clientes:</h2>
        </div>
        <section class="opiniones">

            <div class="cliente">
                <div class="arrow1">
                    <svg id="left" viewBox="0 0 40 47" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M0.987685 25.7359C-0.329224 24.5075 -0.329232 22.4277 0.987683 21.1994L22.1406 1.46884C24.1365 -0.39278 27.4029 1.01519 27.4029 3.7371V12.5855H36.7779C38.5038 12.5855 39.9029 13.9775 39.9029 15.6947V31.2406C39.9029 32.9577 38.5038 34.3498 36.7779 34.3498H27.4029V43.1981C27.4029 45.92 24.1365 47.328 22.1406 45.4664L0.987685 25.7359Z"
                            fill="white" />
                    </svg>
                </div>
                <div class="perfil">
                    <img src="img/na-mujer.jpg" alt="Foto de perfil">
                
                <div class="texto-perfil">
                    <h3>Maria Gomez</h3>
                    <p>¡Muy buen servicio!
                        Todo llegó a casa en tiempo y forma. Una tremenda sorpresa fueron las paletitas, eran muy
                        bonitas y le encantaron a mi nena. La próxima compro una caja entera!!!</p>

                </div>
                </div>
                <div class="buttons">
                    <div class="arrow2">
                        <svg id="left" viewBox="0 0 40 47" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M0.987685 25.7359C-0.329224 24.5075 -0.329232 22.4277 0.987683 21.1994L22.1406 1.46884C24.1365 -0.39278 27.4029 1.01519 27.4029 3.7371V12.5855H36.7779C38.5038 12.5855 39.9029 13.9775 39.9029 15.6947V31.2406C39.9029 32.9577 38.5038 34.3498 36.7779 34.3498H27.4029V43.1981C27.4029 45.92 24.1365 47.328 22.1406 45.4664L0.987685 25.7359Z"
                                fill="white" />
                        </svg>
                    </div>
                    <div class="button1"><i class="fa-solid fa-circle"></i></div>
                    <div class="button2"><i class="fa-solid fa-circle"></i></div>
                    <div class="button3"><i class="fa-solid fa-circle"></i></div>
                    <div class="arrow2">
                        <svg id="right" viewBox="0 0 40 47" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M38.9153 21.1997C40.2322 22.428 40.2322 24.5078 38.9153 25.7362L17.7623 45.4667C15.7665 47.3283 12.5 45.9204 12.5 43.1984V34.3501H3.12501C1.39912 34.3501 7.62939e-06 32.958 7.62939e-06 31.2409L7.62939e-06 15.695C7.62939e-06 13.9778 1.39912 12.5858 3.12501 12.5858L12.5 12.5858L12.5 3.73742C12.5 1.01552 15.7665 -0.392467 17.7623 1.46915L38.9153 21.1997Z"
                                fill="white" />
                        </svg>
                    </div>
                </div>
                <div class="arrow1">
                        <svg id="right" viewBox="0 0 40 47" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M38.9153 21.1997C40.2322 22.428 40.2322 24.5078 38.9153 25.7362L17.7623 45.4667C15.7665 47.3283 12.5 45.9204 12.5 43.1984V34.3501H3.12501C1.39912 34.3501 7.62939e-06 32.958 7.62939e-06 31.2409L7.62939e-06 15.695C7.62939e-06 13.9778 1.39912 12.5858 3.12501 12.5858L12.5 12.5858L12.5 3.73742C12.5 1.01552 15.7665 -0.392467 17.7623 1.46915L38.9153 21.1997Z"
                                fill="white" />
                        </svg>
                    </div>

            </div>

        </section>
    </main>

    <footer>
        <p class="only-xl">© 2023 CandyShop<br>All rights reserved</p>


        <div class="redes">
            <p>Seguinos en<br>nuestras redes</p>
            <ul>
                <li><a href=""><i class="bi bi-telegram"></i></a></li>
                <li><a href=""><i class="bi bi-whatsapp"></i></a></li>
                <li><a href=""><i class="bi bi-facebook"></i></a></li>
                <li><a href=""><i class="bi bi-tiktok"></i></a></li>
                <li><a href=""><i class="bi bi-instagram"></i></a></li>
            </ul>
        </div>

        <div class="copyright">
            <img src="/img/candyshop.png" alt="Logo de CandyShop" width="200px">
            <p class="not-xl">© 2023 CandyShop<br>All rights reserved</p>
        </div>
    </footer>

</body>

</html>