:root {
    --bg-principal: #FCFCFC;
    --bg-disabled: #DEDEDE;
    --bg-amarillo: #FFE66B;
    --bg-rosa-claro: #FFB4E0;
    --bg-rosa-oscuro: #FF6AC2;
    --bg-violeta-claro: #EAD8FA;
    --bg-violeta-oscuro: #BC7AF9;
    --text-principal: #272727;
    --text-secundario: rgba(39, 39, 39, 0.5);
    --text-disabled: #6F6F6F;
    --text-blanco: #FCFCFC;
    --text-rosa-claro: #E474BA;
    --text-rosa-oscuro: #8E2764;
    --text-violeta: #AA63EC;
    --telegram: #0088cc;
    --whatsapp: #25D366;
    --facebook: #3b5998;
    --tiktok-up: #00F7EF;
    --tiktok-down: #FD014F;
    --instagram: #DD2A7B;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--bg-principal);
    overflow-x: hidden;
}

/* NAV */

#navbar {
    display: flex;
    position: fixed;
    top: 0;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    padding: 0px 20px;
    margin-bottom: 2rem;
    z-index: 10000;
    background-color: var(--bg-principal);
}

#menu-opciones {
    display: none;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 50px;
    width: 100vw;
    border-bottom: 1px solid var(--bg-rosa-claro);
    box-shadow: 0px 100vh 0px 100vh rgba(0, 0, 0, 0.5);
    z-index: 100;
}

nav ul li {
    width: 100vw;
    height: 60px;
    background-color: var(--bg-principal);
    border-top: 1px solid var(--bg-rosa-claro);
    transition: all 0.2s ease-in;
}


nav ul li:hover {
    background-color: var(--bg-rosa-claro);
}

nav li a {
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav button {
    border: none;
    background: none;
    margin-left: 10px;
    cursor: pointer;
}

nav .bi {
    font-size: 25px;
}


main {
    padding-top: 50px;
    margin: auto;
}



li {
    list-style: none;
}


a {
    text-decoration: none;
    color: inherit;
}


.banner {
    background-image: url(/img/banner-nosotros.jpg);
    background-size: cover;
    height: 250px;
    width: 100%;
}


.texto-banner{
    position: relative;
    top: -90px;
}
.texto-banner-ad {
    position: absolute;
    top: 120px; 
    left: 20px; 
    color: white; 
    font-size: 20px; 
    z-index: 1; 
}
.texto-banner-cs {
    position: absolute;
    top: 150px; 
    left: 20px; 
    color: white; 
    font-size: 20px; 
    z-index: 1; 
    text-decoration: underline;
    text-decoration-color: #AA63EC;
    text-underline-offset: 10px;
}

.banner .line {
    display: none;
}

.buttons {
    display: flex;
    margin-top: 15%;
    margin-bottom: 10%;
    color: #FFF;
    row-gap: 20%;
    gap: 10%;
    align-items: center;
    justify-content: center;
}


.button2,
.button3 {
    opacity: 50%;
}

.arrow2 svg {
    width:1.7rem;
}
.arrow1 {
    display: none;
}
.arrow2 #left{
    position: relative;
    left: -190%;
}
.arrow2 #right{
    position: relative;
    right: -190%;
}

footer{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    padding: 35px 0px;
    border-top: 1px solid var(--text-secundario);
}

footer div{
    text-align: center;
}

footer ul{
    display: flex;
    justify-content: space-evenly;
    min-width: 320px;
    width: 100%;
    margin: 1.5rem 0px;
    font-size: 30px;
}

footer .redes p{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
}

footer img{
    margin: 0.75rem 0px;
}

.redes{
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2 {
    text-align: center;
    font-size: 1.3rem;
    margin: 70px 0px 15px 0px;
}

h3 {
    margin: 20px 0px 20px 0px;
}

.contenedor-history {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80vw;
}

.contenedor-history h2 {
    font-style: italic;
    color: var(--text-violeta);
}

.history , .history2{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.texto-history {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#p1 {
    font-weight: bold;
}

.candyshop-text {
    margin-left: 0%;
    display: flex;
    align-items: flex-start;
}

.CandyShop {
    color: var(--text-rosa-claro);
    font-weight: bold;
}

.contenedor-history img {
    width: 55vw;
    border-radius: 50%;
    margin: 20% 0% 30%;
}

.line {
    display: flex;
    width: 90vw;
    height: 1vh;
    margin: auto;
}

.line1,
.line2,
.line3 {
    width: 30vw;
}

.line1 {
    background-color: #AA63EC;
}

.line2 {
    background-color: #BC7AF9;
}

.line3 {
    background-color: #D7B4F8;
}

.cliente {
    background-color: var(--bg-violeta-oscuro);
    color: white;
    text-align: center;
    padding: 25px 81px 10px 81px;
}

.perfil img {
    width: 25vw;
    margin-top: 10px;
    border-radius: 50%;
    border: #FFF;
    border: solid 5px;
}

.opiniones .nav {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.opiniones {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.cliente p {
    margin-top: 15px;
    font-weight: 500;
    font-size: 17px;
}
.copyright{
    display: flex;
    align-items: center;
    flex-direction: column;
}
/* Para asignar como clase */

.bg-rosaclaro {
    background-color: var(--bg-rosa-claro);
}

.bg-rosaoscuro {
    background-color: var(--bg-rosa-oscuro);
}

.bg-violetaclaro {
    background-color: var(--bg-violeta-claro);
}

.d-flex {
    display: flex;
}

.jc-center {
    justify-content: center;
}

.jc-between {
    justify-content: space-between;
}

.text-blanco {
    color: var(--text-blanco);
}

.text-violeta {
    color: var(--text-violeta);
}

.fw-4 {
    font-weight: 400;
}

.fw-5 {
    font-weight: 500;
}

.sombra-sm {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}


/* Iconos */

.bi-facebook{
    transition: color 0.15s ease-in;
}
.bi-facebook:hover{
    color: var(--facebook);
}

.bi-instagram{
    transition: color 0.15s ease-in;
}
.bi-instagram:hover{
    color: var(--instagram);
}

.bi-telegram{
    transition: color 0.15s ease-in;
}
.bi-telegram:hover{
    color: var(--telegram);
}

.bi-tiktok{
    transition: all 0.15s ease-in;
}
.bi-tiktok:hover{
    text-shadow: -2px -2px var(--tiktok-up), 2px 2px var(--tiktok-down);
}

.bi-whatsapp{
    transition: color 0.15s ease-in;
}
.bi-whatsapp:hover{
    color: var(--whatsapp);
}

.only-xl{
    display: none;
}
.not-xl{
    display: block;
}

/* MD - Pantallas */
@media only screen and (min-width: 576px) {
    h3{
        font-size: 1.6em;
    }
      h4 {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }

    nav .bi.bi-list {
        display: none;
    }

    .contenedor-nav {
        display: flex;
    }

    .banner{
        background-position: center;
        height: 300px;
    }
    .texto-banner {
        position: relative;
        top: -120px;
        left: 10px;
    }
    .texto-banner-ad {
        position: absolute;
        top: 150px; 
        left: 20px; 
        color: white; 
        font-size: 30px; 
        z-index: 1; 
    }
    .texto-banner-cs {
        position: absolute;
        top: 190px;
        left: 20px;
        color: white;
        font-size: 30px;
        z-index: 1;
        text-decoration: underline;
        text-decoration-color: #AA63EC;
        text-underline-offset: 10px;
    }

    .contenedor-history img {
        width: 35vw;
    }

    .nuestros-clientes {
        display: flex;
        justify-content: flex-start;
        margin: 0% 10%;
    }
    .cliente {
        width: 90vw;
        display: flex;
        border-radius: 4%;
        padding: 3%;
        align-items: center;
        flex-direction: row;
    }
    .perfil img {
        width: 25vw;
        position: relative;
        top: -100px;
        border-radius: 50%;
        border: solid 5px #BC7AF9;
    }
    .texto-perfil{
            display: flex;
            flex-direction: column;
            position: relative;
            top: -90px;

    }
    .arrow1 {
        display: contents;
    }
    .arrow2 {
        display: none;
        
    }
    .cliente p {
        font-size: 1.2em;
        padding: 0% 10%;
    }
    .opiniones {
        align-items: center;
        margin-bottom: 30px;
    }

    .button1,
    .button2,
    .button3 {
        display: none;
    }

    .buttons {
        display: flex;
        margin-block-start: inherit;
        margin-bottom: 15px;
        color: #FFF;
        align-items: center;
    }

    .buttons .arrow {
        font-size: 35px;
        margin-block-start: auto;
        position: relative;
    }
    
    .arrow2 {
        display: none;
    }

    .arrow1 svg{
        width: 8rem;
    }

    .redes {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer{
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    /* NAV */

    #navbar{
        display: flex;
        position: fixed;
        top: 0;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        width: 100vw;
        z-index: 10000;
        background-color: var(--bg-principal);
    }

    #menu-opciones {
        display: flex;
        flex-direction: row;
        position: relative;
        height: 50px;
        top: 0;
        border: none;
        box-shadow: none;
        justify-content: space-evenly;
        align-items: center;
    }

    nav ul li {
        width: 100%;
        height: 100%;
        background-color: var(--bg-principal);
        border-top: none;
        transition: all 0.2s ease-in;
    }

    nav li a {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    nav button {
        display: none;
    }

    nav img{
        margin-right: 25px;
    }

    .horizontal>a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        padding: 0px 15px 0px 15px;
        transition: all 0.2s ease-in;
    }

    .horizontal>a:hover {
        background-color: var(--bg-rosa-claro);
    }

    .horizontal {
        display: flex;
        min-width: 500px;
        align-items: center;
        padding-right: 10px;
    }

}

/* LG - Pantallas */
@media only screen and (min-width: 992px) {

    .circle img{
        max-height: 350px;
        width: auto;
        margin: 0px 3rem;
    }

    .texto-history h2{
        text-align: left;
    }
    
    .banner {
        background-position: center;
        height: 500px;
    }

    .contenedor-history{
        padding: 3rem 0px;
        max-width: 1000px;
    }
    .texto-banner {
        top: -200px;
        left: -20px;
    }
    
    .texto-banner-ad {
        position: absolute;
        top: 250px; 
        left: 100px; 
        color: white; 
        font-size: 40px; 
        z-index: 1; 
    }

    .texto-banner-cs {
        position: absolute;
        top: 300px;
        left: 100px;
        color: white;
        font-size: 40px;
        z-index: 1;
        text-decoration: underline;
        text-decoration-color: #AA63EC;
        text-underline-offset: 10px;
    }

    .history {
        height: max-content;
        display: flex;
        flex-direction: row;
        margin-bottom: 0px;
        align-items: flex-start;
    }

    .history2 {
        height: max-content;
        display: flex;
        flex-direction: row-reverse;
        margin-bottom: 0px;
        align-items: center;
    }

    .texto-history p{
        font-size: 1.2em;
     }
    .candyShop-text{
        margin-left: 10%;
        font-size: 1.5em;
    }

    .perfil img {
        width: 20vw;
        position: relative;
        top: -140px;
        border-radius: 50%;
        border: solid 9px #BC7AF9;
    }


    h2 {
        font-size: 2em;
    }

    h3 {
        font-size: 2em;
    }
    h4 {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }

    .cliente p {
        font-size: 1.5em;
        padding: 0% 10%;
    }

    /* NAV */
    .horizontal {
        display: flex;
        width: 100%;
        justify-content: end;
    }

    #menu-opciones {
        max-width: 50%;
    }

    /* Footer */
    .only-xl{
        display: block;
    }
    .not-xl{
        display: none;
    }
}