

body{
    overflow-x: hidden;
}

.container{
    margin-top: 50px;
}

/*slider publicidad*/

.banner img{
    width: 100%;
    margin-top: 2%;
    display: block;
    position:relative;
    top:20%;
}


/*
.slider.wrapper{
    position: relative;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    
}

.slider-frame{
    display: flex;
    box-sizing: border-box;
    justify-content: center;  
    aspect-ratio: 16 / 9;
    overflow-x: hidden;
    scroll-snap-type: mandatory;
    scroll-behavior: smooth;
    
    border-radius: .5rem;

    background-color: #FFB4E0;
    animation: slide 10s linear infinite;
    width: 100%;
    height: 268px;

}

.slider img{
    flex: 1 0 100%;
    width: 100%;
    scroll-snap-align: start;
    object-fit: cover;

}
*/

/*opciones del slider*/

main{
    padding-top: 50px;
}

.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    left:50%;
    bottom: 65%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #FFFFFF80;
    opacity: .75;
    transition: opacity ease-in-out 8s;
}


/*Productos*/
article{
    background-color: #fff;
    border: 3px solid #E474BA;
    margin: 10px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 150px; 
    border-radius: 10px;
    border: 5px solid #FFB4E0;
    transition: all 0.2s ease-in;
}

.product{
    color: #8E2764;
    text-align: center;
    font-family: Open Sans;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: 129.682%; 
    letter-spacing: -0.35px;
}

.brand, .desc{
    color: #272727;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 129.682%;
    letter-spacing: -0.49px;


}

.detail{
    display: flex;
    width: 179px;
    height: 66px;

    flex-direction: column;
    align-items: center;
    position: relative;
    left: 50px;
    bottom: 70px;
}

article img{
    box-sizing: border-box;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    bottom: 10px;
    right: 90px;
    width: auto;
    height: 50px;
}

p{
    color: #8E2764;
    text-align: center;
    font-family: Open Sans;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 10px */
    letter-spacing: -0.35px;
}
.price{
    position: relative;
    top: -40px;
    right: 90px;
    color: #272727;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -0.49px;
}

.compra {
    display: flex;
    flex-shrink: 0;
    border-radius: 0px 5px 5px 0px;
    justify-content: center;
    align-items: center;
    background: #E474BA;    
    width: 32px;
    height: 32px;
    position: relative;
    left: 50px;
    bottom: 80px;
    color: #FCFCFC;
    border: none;


}

.carrito {
    display: flex;
    flex-direction: row;


}

.add{
    display: none;
}

input{
    position: relative;
    left: 50px;
    bottom: 80px;
    width: 83px;
    height: 32px;
    color: #E474BA ;
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 200%; /* 32px */
    letter-spacing: -0.56px;
    border: solid #E474BA 2px;
}


article:hover {
    background-color: rgba(255, 180, 224, 0.40); 
    box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.25);
}

.dropdown-menu li a {
    transition: 0.2s background-color ease-in-out; 
    padding: 5px;
}

.dropdown-menu a:hover {
    background-color: #ff6ac190; 
}

/* ul a:hover {
    background-color: #FF6AC2; 
} */



/*numero de paginas*/

.paginacion{
    width: 100%;
    display: flex;
    justify-content: center;
}

.page-numbers {
    display: flex;
    box-sizing: border-box;
    justify-content: space-around;
    min-width: 250px;
    padding: 10px 0;
    border: solid 3px #FFB4E0 ;
    border-radius: 10px;
    background-color: #fff;
    font-size: 20px;
    font-weight: 600;
    color: #E474BA;
    align-items: center;
    margin-top: 2rem; 
    margin-bottom: 3rem;
}

.page-numbers a{
    transition: all 0.2s ease-in;
}

.page-numbers a:hover {
    font-weight: 800;
    text-shadow: 0px 0px 5px #ffb4e066;
}

.paginacion .bi{
    text-shadow: -1px -1px #E474BA, 0px -1px #E474BA, -1px 0px #E474BA;
    transition: all 0.2s ease-in;
}
.paginacion .bi:hover{
    text-shadow: -1px -1px #E474BA, 0px -1px #E474BA, -1px 0px #E474BA, 0px 0px 5px #eb0089;
}
/*menu productos*/

.prodMenu{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0px;
}

.menu {
    text-align: center;
    display: flex;
    box-sizing: border-box;
    margin : 10px;
    padding: 10px 0 10px 0;
    justify-content: center;
    align-items: center;
    background-color: #FFE5E5;
    border-radius: 60px;
    width: 250px;
    position: relative;
    
    
}

.menu li {
    display: inline;
    margin-right: 10px;
    
}

#caramelos {
    display: flex;
    flex-wrap: wrap ;
    justify-content: space-evenly;
}



.productos-categoria{
    display: none
     
}


:target {
    display: flex;        
    flex-wrap: wrap;

}


.arrow{
    display: flex;
    width: 140px;
    height: 30px;
    justify-content: center;
    flex-shrink: 0;
    
    border: none;
    
    position: relative;
    right: 20px;
    background-color: #FFA8D4BF;
    color: #000;
    text-align: center;
    font-family: Open Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.525px;
    border-radius:60px;
}


.dropdown-menu {
    display: none;
    
}

.btn-group:focus .dropdown-menu {
    display:block;

}

.btn-group:focus-within .dropdown-menu {
    display: block;
}

.arrow i{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    left: 55px;
    top: 5px;
    font-size: 1.5rem;
    color:#E474BA;
    background-color: #FFE5E5;
}

footer p{
    font-size: 16px;
    color: #000000;
    letter-spacing: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.redes p{
    display: block;
}



/* Banner */

#banner{
    height: 250px;
    background-image: url(/img/banner/Candy.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: end;
    transition: all 0.2s ease-in-out;
}

#banner .bannerNav{
    position: relative;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    width: 100px;
}

#banner .bannerBtn{
    height: 20px;
    width: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-radius: 50%;
    border: 1px solid #969696a0;
}

#banner .bannerBtn:active{
    background-color: rgba(255, 255, 255, 1);
}

#banner .bannerBtn-activo{
    height: 20px;
    width: 20px;
    background-color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 50%;
    border: 1px solid #969696a0;
}

@media (min-width: 576px){
    
    .productos{
        display: flex;
        justify-content: center;
        margin: 0px;
    }

    #caramelos{
        max-width: 800px;
    }
  
    article {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 250px;
        height: 400px;
        padding: 20px;
    }

    .detail{
        color: #272727;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;

        position: relative;
        left: 0px;
        top:50px;
    }

    p{
        display: none;
    }

    article img{

        position: relative;
        top: 10px;
        right: 0px;
        width: fit-content;
        height: 104px;
        
    }

    .price{
        position: relative;
        top: 80px;
        right: 0px;
        font-size:25px;
    }
    .product, .brand, .desc{
        font-size: 20px;
        text-align: center;
    }


    .carrito {
        display: none;


    }

    .add{
        display: flex;
        box-sizing: border-box;
        justify-content: space-around;
        padding: 10px 0;
        border: solid 3px #FFB4E0;
        border-radius: 5px;
        background-color: #fff;
        font-size: 18px;
        color: #E474BA;
        align-items: center;
        margin: 10px auto; 
        position: relative;
        top: 100px;
        width: 199.266px;
        height: 40px;
        transition: all 0.2s ease-in;
    }

    .add:hover{
        border: solid 3px #E474BA;
        background-color: #E474BA;
        color: #FFFFFF;
        text-shadow: 0px 0px 5px rgba(255, 180, 224, 0.5);
    }

    .menu button{
        display:none;
    }

    .dropdown-menu{
        display:flex;
    }

    .menu {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        background-color: #FCFCFC;
    }

    .menu ul{
        width: max-content;
        min-height: 50px;
        height: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin: 15px 0px;
        padding: 10px 20px 10px 20px;
        justify-content: space-around;
        border-radius: 60px;
        background: #FFE5E5;
    }
    

    .menu li {
        display: inline;
        margin-right: 10px;
        
    }


    .btn-group:focus .dropdown-menu {
        display:none;

    }

    .btn-group:focus-within .dropdown-menu {
        display: none;
    }


    nav li a:hover{
        background-color: var(--bg-rosa-claro);
    }


    /* Banner */
    #banner{
        height: 300px;
    }



}

@media (min-width: 992px){

    #caramelos{
        max-width: 1000px;
    }
  
    article {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 250px;
        height: 400px;
    }


    article img{
        position: relative;
        top: 10px;
        right: 0px;
        width: fit-content;
        height: 104px;
    }


    /* Banner */
    #banner{
        height: 500px;
    }

    /* Footer */
    .only-xl{
        display: block;
    }
    .not-xl{
        display: none;
    }

}
