
:root {
    --bg-principal: #FCFCFC;
    --bg-disabled: #DEDEDE;
    --bg-amarillo: #FFE66B;
    --bg-rosa-claro: #FFB4E0;
    --bg-rosa-oscuro: #FF6AC2;
    --bg-violeta-claro: #EAD8FA;
    --bg-violeta-oscuro: #BC7AF9;
    --text-principal: #272727;
    --text-secundario: rgba(39, 39, 39, 0.5);
    --text-disabled: #6F6F6F;
    --text-blanco: #FCFCFC;
    --text-rosa-claro: #E474BA;
    --text-rosa-oscuro: #8E2764;
    --text-violeta: #AA63EC;
    --telegram: #0088cc;
    --whatsapp: #25D366;
    --facebook: #3b5998;
    --tiktok-up: #00F7EF;
    --tiktok-down: #FD014F;
    --instagram: #DD2A7B;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--bg-principal);
    overflow-x: hidden;
}

/*navbar*/
#navbar{
    display: flex;
    position: fixed;
    top: 0;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    padding: 0px 20px;
    margin-bottom: 2rem;
    z-index: 10000;
    background-color: var(--bg-principal);
}

#menu-opciones{
    display: none;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 50px;
    width: 100vw;
    border-bottom: 1px solid var(--bg-rosa-claro);
    box-shadow: 0px 100vh 0px 100vh rgba(0, 0, 0, 0.5);
    z-index: 100;
}

nav ul li{
    width: 100vw;
    height: 60px;
    background-color: var(--bg-principal);
    border-top: 1px solid var(--bg-rosa-claro);
    transition: all 0.2s ease-in;
}


nav ul li:hover{
    background-color: var(--bg-rosa-claro);
}

nav li a{
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav button{
    border: none;
    background: none;
    margin-left: 10px;
    cursor: pointer;
}

nav .bi{
    font-size: 25px;
}

main{
    padding-top: 50px;
}

li {
    list-style: none;
}

h6 {
    font-size: 0.75rem;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Main */
main {
    position: relative;
    z-index: 0; /* Asegura que el fondo esté detrás de otros elementos */
    overflow: hidden; /* Ocultar el overflow si se ajusta el tamaño */
}

main::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url("/img/fondo-register.jpg");
    background-size: cover;
    background-position: center;
    z-index: -1;
}

main::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.7); /* Aquí defines la opacidad */
    z-index: -1; /* Asegura que el fondo esté detrás de otros elementos */
}
.contenedor-register {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(179,242,244,0.7);
    border: 10px solid rgba(227, 154, 252, 0.7);
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.logo-register {
    text-align: center;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contenedor-icono-caramelo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icono-caramelo {
    width: 187px;
    height: auto;
}

h3 {
    color: #272727;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.h3-register{
    margin-bottom: 2rem;
}

.contenedor-register h3{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.contenedor-email-contraseña {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-email,.input-nombre,.input-apellido,.input-contraseña {
    padding-bottom: 1rem;
}

.input-email input,
.input-contraseña input,.input-nombre input,.input-apellido input,.input-confirmar-contra input  {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid rgba(142, 39, 100, 0.75);
    border-radius: 25px;
    width: 17.5rem;
    outline: none;
}

.input-email input:focus,
.input-contraseña input:focus,.input-nombre input:focus,.input-apellido input:focus,.input-confirmar-contra input:focus {
    outline: 5px solid rgba(215, 72, 144, 0.40);
}

.input-email input {
    background-image: url("/img/usuario.png");
    background-position: right center;
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
}

.input-contraseña input {
    background-image: url("/img/contrasena.png");
    background-position: right center;
    background-size: 2rem 2rem;
    background-repeat: no-repeat;
}

.input-nombre input {
    background-image: url("/img/id-card.png");
    background-position: right center;
    background-size: 2rem 2rem;
    background-repeat: no-repeat;
}

.input-apellido input {
    background-image: url("/img/id-card.png");
    background-position: right center;
    background-size: 2rem 2rem;
    background-repeat: no-repeat;
}
.input-confirmar-contra input {
    background-image: url("/img/contrasena.png");
    background-position: right center;
    background-size: 2rem 2rem;
    background-repeat: no-repeat;
}
label {
    font-size: 14px;
    padding-left: 15px;
    color: #AB4782;
    display: block;
    margin-bottom: 0;
}
.terminos-condiciones {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.terminos-condiciones input[type="checkbox"] {
    margin-right: 10px;
}

.terminos-condiciones label{
    color: #272727;
    font-weight: 600;
}

.olvido-contraseña {
    color: #272727;
    display: flex;
    font-size: 13px;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
    padding-top: 1rem;
}

.contenedor-boton-is {
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton-is {
    background-color: #AA63EC;
    border: none;
    border-radius: 25px;
    padding: 0.8rem 3rem;
    font-size: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.contenedor-redes {
    text-align: center;
    padding-top: 2rem;
}

.contenedor-redes div{
    margin-top: 15px;
}

.contenedor-redes .bi{
    font-size: 45px;
    margin: 15px;
    color: rgba(39, 39, 39, 0.9);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    transition: color 0.1s ease-in;
}

.contenedor-redes .bi:hover{
    color: #894ac3;
}

.facebook,
.google {
    display: inline-block;
    width: 50px;
    height: auto;
    margin: 15px 15px;
}

.contenedor-registro {
    margin: 3.5rem auto 0;
}

.contenedor-registro div{
    width: 18rem;
    padding: 3px 0px;
    border: 2px solid rgba(39, 39, 39, 0.75);
    border-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    max-width: 100%;
    text-align: center;
    font-size: 15px;
    line-height: 1.5;
    transition: all 0.15s ease-in;
}

.contenedor-registro div:hover{
    background: #894ac390;
}

.contenedor-registro a{
    font-size: 14px;
}

.contenedor-registro strong{
    font-size: 18px;
}

.contenedor-golosinas {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:4rem;
}

.golosinas-register {
    width: 150px;
    height: auto;
}


/* Iconos */

.bi-facebook{
    transition: color 0.15s ease-in;
}
.bi-facebook:hover{
    color: var(--facebook);
}

.bi-instagram{
    transition: color 0.15s ease-in;
}
.bi-instagram:hover{
    color: var(--instagram);
}

.bi-telegram{
    transition: color 0.15s ease-in;
}
.bi-telegram:hover{
    color: var(--telegram);
}

.bi-tiktok{
    transition: all 0.15s ease-in;
}
.bi-tiktok:hover{
    text-shadow: -2px -2px var(--tiktok-up), 2px 2px var(--tiktok-down);
}

.bi-whatsapp{
    transition: color 0.15s ease-in;
}
.bi-whatsapp:hover{
    color: var(--whatsapp);
}

.only-xl{
    display: none;
}
.not-xl{
    display: block;
}


@media screen and (min-width: 576px){
    /* Tablet */
    .contenedor-register {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(179,242,244,0.7);
        border: 10px solid rgba(227, 154, 252, 0.7);
        border-radius: 20px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 500px;
        margin: 0 auto;
    }

    
    #navbar{
        display: flex;
        position: fixed;
        top: 0;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        width: 100vw;
        z-index: 10000;
        background-color: var(--bg-principal);
    }

    #menu-opciones{
        display: flex;
        flex-direction: row;
        position: relative;
        height: 50px;
        top: 0;
        border: none;
        box-shadow: none;
        justify-content: space-evenly;
        align-items: center;
    }

    nav ul li{
        width: 100%;
        height: 100%;
        background-color: var(--bg-principal);
        border-top: none;
        transition: all 0.2s ease-in;
    }

    nav li a{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    nav img{
        margin-right: 25px;
    }

    nav button{
        display: none;
    }

    .horizontal>a{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        padding: 0px 15px 0px 15px;
        transition: all 0.2s ease-in;
    }

    .horizontal>a:hover{
        background-color: var(--bg-rosa-claro);
    }

    .horizontal{
        display: flex;
        min-width: 500px;
        align-items: center;
        padding-right: 10px;
    }#navbar{
        display: flex;
        position: fixed;
        top: 0;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        width: 100vw;
        z-index: 10000;
        background-color: var(--bg-principal);
    }

    #menu-opciones{
        display: flex;
        flex-direction: row;
        position: relative;
        height: 50px;
        top: 0;
        border: none;
        box-shadow: none;
        justify-content: space-evenly;
        align-items: center;
    }

    nav ul li{
        width: 100%;
        height: 100%;
        background-color: var(--bg-principal);
        border-top: none;
        transition: all 0.2s ease-in;
    }

    nav li a{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    nav button{
        display: none;
    }

    .horizontal>a{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        padding: 0px 15px 0px 15px;
        transition: all 0.2s ease-in;
    }

    .horizontal>a:hover{
        background-color: var(--bg-rosa-claro);
    }

    .horizontal{
        display: flex;
        min-width: 500px;
        align-items: center;
        padding-right: 10px;
    }

    footer{
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

}

@media screen and (min-width: 992px){
    /* Desktop */
    
    /* Nav */
    .horizontal{
        display: flex;
        width: 100%;
        justify-content: end;
    }

    #menu-opciones{
        max-width: 50%;
    }
    
    /* Footer */
    .only-xl{
        display: block;
    }
    .not-xl{
        display: none;
    }
}

/*footer*/

footer{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    padding: 35px 0px;
    border-top: 1px solid var(--text-secundario);
}

footer div{
    text-align: center;
}

footer ul{
    display: flex;
    justify-content: space-evenly;
    min-width: 320px;
    width: 100%;
    margin: 1.5rem 0px;
    font-size: 30px;
}

footer .redes p {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
}

footer img {
    margin: 0.75rem 0px;
}


.sombra-sm {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}
